body {
    font-family: "Fredoka", sans-serif;
    width: 600px; 
    margin: 0 auto; 
    background-color: #e6cebc;
}

header {
    text-align: center;
    margin-top: 20px; 
    color: #8e412e;
}

.card {
    border: none; 
}

.wrapper {
    border: 2px solid white;
    margin-top: 15px; 
    padding: 15px; 
}

.form-control {
    border: 2px solid #a2a182; 
    background-color: #687259;
    color: white; 
}
