body {
    font-family: "Fredoka", sans-serif;
    width: 600px; 
    margin: 0 auto; 
    margin-top: 20px;
}

header {
    text-align: center;
    margin-top: 10px; 
    color: #b36a5e;
}


.wrapper {
    border: 2px solid white;
    margin-top: 15px; 
    padding: 15px; 
}

.form-control {
    padding: 5px;
    border: 2px solid #b36a5e;
    color: #b99e98; 
}


.btn-primary {
    background-color: #b36a5e; 
    border: none;
    color: #eee2df;
}

.info {
    color:#b36a5e; 
}

span {
    color:#b99e98; 
    font-family: "Josefin Sans", sans-serif;
}